{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
    <h1>Create item by table</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Создать</button>
    </form>
{% endblock %}