{% extends 'base.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
    <h1>Edit item by table</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Редактировать</button>
    </form>
{% endblock %}