{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Home{% endblock %}
{% block content %}
    <h3>Введите значения для фильтрации</h3>
    <form>
        {{ form }}
        <button>фильтровать</button>
    </form>
    <p><a href="{% url 'index' %}">Сбросить фильтр</a></p>
    <table>
        <tr>
            <td>Дата</td>
            <td>Название</td>
            <td>Количество</td>
            <td>Расстояние</td>
        </tr>
        {% for item in table %}
            <tr>
                <td>{{ item.date }}</td>
                <td><a href="{% url 'item_detail' item.id %}">{{ item.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.distance }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock %}