{% extends 'base.html' %}
{% block title %}Detail{% endblock %}
{% block content %}
    <p><a href="{% url 'edit_item' item.id %}">Редактировать</a></p>
    <p><a href="{% url 'delete_item' item.id %}">Удалить</a></p>
    <table>
        <tr>
            <td>Дата</td>
            <td>Название</td>
            <td>Количество</td>
            <td>Расстояние</td>
        </tr>
          <tr>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.distance }}</td>
          </tr>
    </table>
{% endblock %}