body {
    margin: 0;
}
table {
    border-collapse: collapse;
}
td {
    border: solid 1px black;
    text-align: center;
}
nav {
    background: black;
    padding: 10px;
    margin: 0;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
